{% extends "base_bootstrap.html" %}

{% block content %}
{#    {% include 'extra/message.html' %}#}
    <h1>Breeds List</h1>
        {% if breeds %}
            {% for i in breeds %}
               <li> {{ i.name }} (<a href="{% url 'cats:breed_update' i.id %}">Update </a> | <a
                    href="{% url 'cats:breed_delete' i.id %}">Delete </a>)</li>
            {% endfor %}
            {% else %}
            <p>There are no autos in the library.</p>
        {% endif %}<br>

    <a href="{% url 'cats:breed_create' %}">Add a Breed</a><br><br>
{#    <a href="{% url 'autos:make_list' %}">View makes </a>({{ make_count }}) <br><br>#}

    <a href="{% url 'cats:all' %}">Back to Cats</a>
{% endblock %}