{% extends "base_bootstrap.html" %}
{% load crispy_forms_filters %}

{% block content %}
   <div class="container">
        <div class="row row-header">
            <div class="col-12 col-sm-6">

                <form method="post">
                    {% csrf_token %}
                    <p>Are you sure you want to delete {{ cat.nickname }} ?</p>
                    <br>
                    <input type="submit" class="btn btn-danger" value="Yes"/>
                    <a class="btn btn-success" href="{% url 'cats:all' %}">Cancel</a>
                </form>
            </div>
        </div>
    </div>
{% endblock %}