<head>
    <meta name="dj4e" content="579036d9585c651f97a1490a46616132">
</head>
{% extends "base_bootstrap.html" %}


{% block content %}

    <h1>Autos List</h1>
    {% if object_list %}
        {% for i in object_list %}
            <li> {{ i.nickname }} ({{ i.make.name }}) (<a href="{% url 'autos:autos_update' i.id %}">Update </a> | <a
                    href="{% url 'autos:autos_delete' i.id %}">Delete </a>)
            </li>
        {% endfor %}
    {% else %}
        <p>There are no autos in the library.</p>
        <p>Please add a make before you add an auto.</p><br>
    {% endif %}

    <a href="{% url 'autos:autos_create' %}">Add an auto</a><br><br>
    <a href="{% url 'autos:make_list' %}">View makes </a>({{ make_create_count }}) |
    <a href="{% url 'autos:make_create' %}">Add a make</a>
{% endblock %}