{% extends "base_bootstrap.html" %}
{% load crispy_forms_filters %}

{% block content %}
   <div class="container">
        <div class="row row-header">
            <div class="col-12 col-sm-6">
                {% if form.errors %}
                    <p>Your username and password didn't match. Please try again.</p>
                {% endif %}

                <form method="post">
                    {% csrf_token %}
                    {{ form|crispy }}
                    <br>
                    <input type="submit" class="btn btn-primary" value="Submit"/>
                    <a class="btn" href="{% url 'autos:autos_list' %}">Cancel</a>
                </form>
            </div>
        </div>
    </div>
{% endblock %}